
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$paddingLeftDesktop: 7%;
$HeadingPaddingTop: 30px;
$PrimaryFontColour: #296F9D;
$SecondaryFontColour: #71777c;
$ThirdFontColour: #666;
$PrimaryFontSize: 35px;
$SecondaryFontSize: 18px;
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #ffffff;
  --text-color: #333333;
  --border-color: #dddddd;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

body {
  /* font-family: 'Roboto', sans-serif; */
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.input-sequence-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  text-align: center;
}

.input-sequence-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.input-sequence-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-sequence-container label {
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  margin-bottom: 5px;
}

.input-sequence-container textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  transition: border-color 0.3s ease;
  resize: vertical; /* Allow vertical resizing */
}

.input-sequence-container textarea:focus {
  border-color: var(--primary-color);
  outline: none;
}

.input-sequence-container button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--background-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-sequence-container button:hover {
  background-color: #0056b3; /* Darker shade of primary color */
}

.input-sequence-container h2 {
  margin-top: 20px;
  font-size: 1.5rem;
  color: var(--secondary-color);
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//naviagtion
.navigation-container {
  height: 12dvh;
  background-color:transparent;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: $paddingLeftDesktop;
  position: absolute;
  z-index: 6;
  width: 900px;

    h1{
      margin-left: 0;
      font-size: 25px;
      color: $PrimaryFontColour;
    }

    .nav-links{
      display: flex;
      justify-content: space-between;

      a {
        text-decoration: none;
        color: $SecondaryFontColour;
        margin-right: 15px;
        font-weight: 400;
        // margin: 0 15px;
        font-size: 18px;
      }

      a:hover{
        color: #363333;
      }
    }
}

//home
.hero-component{
  width: 100%;
  height: 100dvh;
  position: relative;

  img{
    width: 100%;
    height: 100%;
    object-fit: cover
  }

  .hero-text-container{
    padding-left: $paddingLeftDesktop;
    position: absolute;
    top: 30%;
    // left: 0;
    // right: 60%;
    z-index: 4;

    h1{
      font-size: 50px;
      text-align: left;
      color: $PrimaryFontColour;
      font-weight: 700;
      margin: 0;
      font-family: 'Roboto', sans-serif;
      }
      h2{
        font-size: 20px;
        color: $SecondaryFontColour;
        font-weight: 400;
        text-align: left;
        margin: 0;
      }
      hr{
        margin: 10px;
        margin-left: 0;
        width: 90%;
      }
  }
}

.how-it-works-component{
  display: flex;
  flex-direction: column;
  // padding-left: $paddingLeftDesktop;
  align-items: center;
  justify-content: center;

  h2{
    font-size: $PrimaryFontSize;
    color: $PrimaryFontColour; 
    margin-bottom: 20px;
    font-weight: 600;
    padding-top: $HeadingPaddingTop;
  }

  .how-it-works-cards{
    width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    background-color: #6c757d;

    .how-it-works-card{
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      max-width: 300px;
      height: 380px;
      text-align: center;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      img{
        width: 100%;
        height: 180px;
        object-fit: cover;
      }

      .content{
        padding: 20px ;

        h3 {
          font-size: 18px;
          margin-bottom: 10px;
          margin-top: 0;
          color: $PrimaryFontColour;
          font-weight: 400;
          height: 50px;
        }

        .description-box{
          display: flex;

          p{
            font-size: 15px;
            color: $ThirdFontColour;
            margin-bottom: 20px;
          }
        }
        
      }
    }
    .how-it-works-card:hover{
      transform: translateY(-10px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
  }
}

/* Why Use Component */
.why-use-component {
  background-color: #fff; 
  padding: 20px;
  text-align: center;

  h2 {
    font-size: $PrimaryFontSize;
    color: $PrimaryFontColour; 
    margin-bottom: 0px;
    font-weight: 600;
    padding-top: $HeadingPaddingTop;
  }

  .content {
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: $HeadingPaddingTop;


    .subtitle {
      font-size: 17px;
      color: $SecondaryFontColour; 
      margin-bottom: 30px;
    }

    .features {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .why-use-card {
        text-align: left;
        padding: 20px;
        border-left: 6px solid $ThirdFontColour; 
        background-color: #f9f9f9; 
        border-radius: 5px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);


        h3 {
          font-size: 20px;
          color: $PrimaryFontColour; 
          margin-bottom: 10px;
        }

        p {
          font-size: 15px;
          color: $SecondaryFontColour;
        }
      }
      .why-use-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
    }
  }
  
}

/* Footer Styles */
.footer {
  background-color: $PrimaryFontColour;
  color: #fff;
  padding: 10px;
  margin-top: 20px;

  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    gap: 20px;
  
    .footer-section {
      flex: 1;
      min-width: 200px;
      margin-bottom: 20px;
    
      h3 {
        font-size: 22px;
        margin-bottom: 15px;
      }
      h4 {
        font-size: 18px;
        margin-bottom: 15px;
      }
      p {
        font-size: 15px;
        line-height: 1.6;
        opacity: 0.8;
      }
      ul {
        list-style: none;
        padding: 0;
        li {
          margin-bottom: 10px;
          font-size: 15px;

          a {
            color: #ffffff;
            text-decoration: none;
            opacity: 0.8;
            transition: opacity 0.3s ease;
          }
          a:hover {
            opacity: 1;
          }
        }
      }
    
      .social-icons {
        display: flex;
        gap: 15px;
      
        a {
          color: #ffffff;
          opacity: 0.8;
          transition: opacity 0.3s ease;
        }
        a:hover {
          opacity: 1;
        }
      }
    }
  }
  .footer-bottom {
    text-align: center;
    margin-top: 10px;
    /* padding-top: 10px; */
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 14px;
    opacity: 0.8;
    /* padding-bottom: 0px; */
  }
}












