@use './variables.scss' as *;

.navigation-container {
  height: 12dvh;
  background-color: transparent;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: $paddingLeftDesktop;
  position: absolute;
  z-index: 6;
  width: 100%;
  max-width: 900px;
  padding: 0 20px;

  h1 {
    margin-left: 50px;
    font-size: 25px;
    color: $PrimaryFontColour;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;
      color: $SecondaryFontColour;
      margin-right: 15px;
      font-weight: 400;
      font-size: 18px;

      &:hover {
        color: #363333;
      }
    }
  }
}

.mobile-menu-icon {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: $PrimaryFontColour;
}

// Responsive styles
@media screen and (max-width: 768px) {
  .navigation-container {
    width: 335px;

    h1{
      margin-left: 10px;
    }

    .nav-links {
      position: fixed;
      top: 0;
      right: -100%;
      width: 50%;
      max-height: 80vh;
      overflow-y: auto;
      flex-direction: column;
      background-color: rgb(208, 207, 207);
      box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
      transition: right 0.3s ease;
      padding: 80px 20px 20px;
      align-items: flex-start;

      a {
        margin: 15px 0;
        font-size: 20px;
        width: 100%;
        padding: 5px 0;
      }
    }

    .nav-links.show {
      right: 0;
    }
  }

  .mobile-menu-icon {
    display: block;
    z-index: 10;
  }
}

@media screen and (max-width: 480px) {
  .navigation-container h1 {
    font-size: 20px;
  }

  .nav-links {
    width: 80%;
  }
}
